alias t='toast'
alias tu='pip install -U toast-cli'
alias tt='bash -c "$(curl -fsSL nalbam.github.io/dotfiles/run.sh)"'

c() {
  local dir="$(toast cdw $@)"
  if [ -n "$dir" ]; then
    echo "Change directory to $dir"
    cd "$dir"
  fi
}

# v() {
#   local profile="$(toast av $@)"
#   if [ -n "$profile" ]; then
#     export AWS_VAULT= && aws-vault exec $profile --
#   fi
# }

# e() {
#   op read op://keys/aws-config/notesPlain > ~/.aws/config && chmod 600 ~/.aws/config
#   op read op://keys/aws-credentials/notesPlain > ~/.aws/credentials && chmod 600 ~/.aws/credentials
# }

alias m='toast am'
alias x='toast ctx'
alias d='toast dot'
alias e='toast env'
alias g='toast git'
alias r='toast region'

alias a='aws'
alias k='kubectl'
alias h='helm'

alias av='aws-vault'
alias ave='export AWS_VAULT= && aws-vault exec'
alias ava='export AWS_VAULT= && aws-vault exec daangn-alpha --'
alias avd='export AWS_VAULT= && aws-vault exec daangn-data --'
alias avp='export AWS_VAULT= && aws-vault exec daangn-prod --'
alias avn='export AWS_VAULT= && aws-vault exec nalbam --'
alias avt='export AWS_VAULT= && aws-vault exec nalbam-two --'
alias avk='export AWS_VAULT= && aws-vault exec awskrug-team --'
alias avo='export AWS_VAULT= && aws-vault exec opspresso --'
alias avb='export AWS_VAULT= && aws-vault exec bruce --'
alias avc='aws-vault clear'

alias tf='terraform'
alias tfc='rm -rf .terraform .terraform.lock.hcl'
alias tff='toast am && tf init && tf fmt'
alias tfp='toast am && tf init && tf fmt && tf plan'
alias tfa='toast am && tf init && tf fmt && tf apply'
alias tfd='toast am && tf init && tf destroy'
alias tfs='toast am && tf init && tf state'
alias tfg='toast am && tf init && tf graph'
alias tfo='toast am && tf init && tf output'

alias tfcp='tfc && tfp'
alias tfca='tfc && tfa'

alias tfat='tfa -target'

alias tfim='tf init && tf import'

alias tfsl='tf init && tf state list'
alias tfss='tf init && tf state show'
alias tfsr='tf init && tf state rm'

alias tfdoc="terraform-docs markdown"

alias slsd="toast am && sls deploy"

alias cs='cursor .'
alias cx='claude'

alias amp="amplify"

alias nn='rm -rf node_modules .next package-lock.json pnpm-lock.yaml && pnpm install'
alias nd='pnpm dev'
alias nb='pnpm build'

alias py='python'
alias py3='python3'

alias dff='colordiff'

alias p='reveal-md -w --port 8888 --theme night'

alias dt='date -u +"%Y-%m-%dT%H:%M:%SZ"'

alias ll='ls -l'
alias l='ls -al'

alias xs='cd'
alias vf='cd'

alias ㅊ='c'
alias ㅊㅇ='cd'
