alias t='toaster'
alias tu='bash -c "$(curl -fsSL opspresso.github.io/toaster/install.sh)"'
alias tt='bash -c "$(curl -fsSL nalbam.github.io/dotfiles/run.sh)"'

c() {
  local dir="$(toaster cdw $@)"
  if [ -n "$dir" ]; then
    echo "$dir"
    cd "$dir"
  fi
}

av() {
  local profile="$(toaster av $@)"
  if [ -n "$profile" ]; then
    export AWS_VAULT=$profile
    aws-vault exec $profile --
  fi
}

alias e='toaster env'
alias n='toaster git'
alias s='toaster ssh'
alias r='toaster region'
alias x='toaster ctx'
alias z='toaster ns'

alias am='toaster am'

alias a='aws'
alias k='kubectl'
alias h='helm'

# alias av='aws-vault'
alias ave='export AWS_VAULT= && aws-vault exec'
alias ava='export AWS_VAULT= && aws-vault exec daangn-alpha --'
alias avd='export AWS_VAULT= && aws-vault exec daangn-data --'
alias avp='export AWS_VAULT= && aws-vault exec daangn-prod --'
alias avn='export AWS_VAULT= && aws-vault exec nalbam --'
alias avt='export AWS_VAULT= && aws-vault exec nalbam-two --'
alias avk='export AWS_VAULT= && aws-vault exec awskrug-team --'
alias avo='export AWS_VAULT= && aws-vault exec opspresso --'
alias avb='export AWS_VAULT= && aws-vault exec bruce --'
alias avc='aws-vault clear'

alias tf='terraform'
alias tfc='rm -rf .terraform .terraform.lock.hcl'
alias tff='am && tf init && tf fmt'
alias tfp='am && tf init && tf fmt && tf plan'
alias tfa='am && tf init && tf fmt && tf apply'
alias tfd='am && tf init && tf destroy'
alias tfs='am && tf init && tf state'
alias tfg='am && tf init && tf graph'
alias tfo='am && tf init && tf output'

alias tfcp='tfc && tfp'
alias tfca='tfc && tfa'

alias tfat='tfa -target'

alias tfim='tf init && tf import'

alias tfsl='tf init && tf state list'
alias tfss='tf init && tf state show'
alias tfsr='tf init && tf state rm'

alias tfdoc="terraform-docs markdown"

alias tg='terragrunt'

alias slsd="am && sls deploy"

alias amp="amplify"

# alias docker='podman'

alias py='python'
alias py3='python3'

alias dff='colordiff'

alias p='reveal-md -w --port 8888 --theme night'

alias dt='date -u +"%Y-%m-%dT%H:%M:%SZ"'

alias ll='ls -l'
alias l='ls -al'

alias xs='cd'
alias vf='cd'
alias ㅊㅇ='cd'
