[core]
  untrackedCache = true
  autocrlf = input
  pager =
  precomposeunicode = true
  quotepath = false

[apply]
  whitespace = fix

[branch]
  sort = -committerdate

[color]
  ui = auto

[pull]
  # rebase = true
  ff = only

[push]
  default = simple
  followTags = true

[init]
  defaultBranch = main

[user]
  name = nalbam
  email = me@nalbam.com

[includeIf "gitdir:~/workspace/github.com/daangn/"]
  path = .gitconfig-daangn
[includeIf "gitdir:~/workspace/github.com/nalbam/"]
  path = .gitconfig-nalbam
